* {
  padding: 0;
  margin: 0;
}

/* div {
  width: 100px;
  height: 100px;
}

.container {
  width: 100%;
  background-color: white;
  border: 1px solid black;
  display: flex;
  gap: 15px;
  justify-content: space-around;
}

.flex-1 {
  background-color: #c2f5ff;
}

.flex-2 {
  background-color: #ffd7d6;
}

.flex-3 {
  background-color: #ebebeb;
}

.flex-4 {
  background-color: #ffe4c2;
}

.flex-5 {
  background-color: #c7ffdd;
} */
body {
  background-color: greenyellow;
  margin: 25px;
}

.confirm {
  max-width: 640px;
  background-color: white;
  border-radius: 9px;
  padding: 40px 24px;
}

.confirm h3 {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: -0.01em;
  color: rgba(0, 0, 0, 0.9);
}

.confirm p {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #181818;
  padding: 35px 28px 0;
}

.confirm div {
  display: flex;
  justify-content: end;
  gap: 16px;
}

button {
  border-radius: 3px;
  padding: 10px 12px;
  cursor: pointer;
  outline: none;
  border: none;
  letter-spacing: 0.01em;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

button:hover {
  background-color: yellow;
  box-shadow: 10px -42px 13px 0px rgba(136, 229, 55, 0.56) inset;
  -webkit-box-shadow: 10px -42px 13px 0px rgba(136, 229, 55, 0.56) inset;
  -moz-box-shadow: 10px -42px 13px 0px rgba(136, 229, 55, 0.56) inset;
}

.secondary {
  color: rgba(0, 0, 0, 0.9);
}

.primary {
  background: #0074AB;
  color: #FFFFFF;
}