* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 28px 125px;
}

.header-title {
  display: flex;
}

.header__logo {
  width: 34px;
  height: 34px;

}

.header h3 {
  padding-top: 10px;
  padding-left: 10px;
  font-size: 20px;
  font-weight: 20;
  text-transform: uppercase;
}

.header-btn {
  width: 200px;
  height: 60px;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  color: #232020;
  background-color: white;
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 30px;
}
.header-btn:hover{
  background-color: yellow;
  transition: 1s;
}