* {
  margin: 0;
  padding: 0;
}

div {}

div div {
  border-radius: 3px;
  /* margin: 10px; */
  padding: 24px;
}

h3 {
  font-weight: 700;
  font-size: 16px;
  color: #252A31;
}

p {
  opacity: 1;
  /* margin-top: 24px;
  padding: 18px; */
  border-radius: 3px;
  font-size: 14px;
  /* line-height: 30px; */
  letter-spacing: 1.8px;
}

.Group {
  background-color: #252A31;
  max-width: 685px;
  color: #FFFFFF;
  padding: 20px;
}

h2 {
  font-family: 'Circular Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
}

a {
  color: white;
  text-decoration: underline black;
}

img {
  border-radius: 100%;
}

.ppp {
  background: #FFF4CD;
  margin: 10px;
  padding: 20px;
  width: 250px;
  height: 415px;
}